.GameBoard {
    border: 1px solid white;
    margin: 20px auto;
    header {
        margin: 0;
        padding: 0;
        height: 3rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }
}