body {
    background: #232123;
}

.App {
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  width: 80vw;

  header {
      color: white;
      font-size: 3rem;
      padding-bottom:3rem;
  }
}